<!DOCTYPE html>
<html lang="en">

<head>

    <title>Users List</title>
    <link rel="stylesheet" href="css styles/adminuserlist.css">
</head>

<body>
    <header>
        <nav class="navbar-container">
            <div class="logo-container">
                <img src="assets\LOGO (WHITE).PNG">
            </div>
            <ul class="nav-links">
                <li><a href="/adminMenu">Home</a></li>
                <li><a href="/adminreserve">Reserve</a></li>
                <li><a href="/adminSearchUser">Search user</a></li>
                <li><a href="/adminProfile">Profile</a></li>
                <li><a href="/" id="logoutButton">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">

        <h1>Users List</h1>
        <input type="text" id="search" placeholder="Search users by name">
        <table id="user-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody id="user-table-body">
                {{#users}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{role}}</td>
                    <td>{{department}}</td>
                </tr>
                {{/users}}
            </tbody>
        </table>

        <div class="button-grp">
            <button type="button" class="button" id="cancel">cancel</button>
        </div>

    </div>

    <script src="js files/usersAdmin.js"></script>
</body>

</html>