<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{name}}'s Profile</title>
    <link rel="stylesheet" href="/css styles/profile.css">
</head>

<body>
    <header>
        <nav class="navbar-container">
            <div class="logo-container">
                <img src="/assets/LOGO (WHITE).PNG">
            </div>
            
        </nav>
    </header>

    <div class="profile-card">
        <h1>{{name}}'s Profile</h1>
        <div class="profile-image">
            <img id="profileImage" src="{{profileImg}}" alt="Profile Photo">
        </div>

        <div class="profile-details">
            <div>
                <label>Name: </label>
                <span>{{name}}</span>
            </div>
            <div>
                <label>Email: </label>
                <span>{{email}}</span>
            </div>
            <div>
                <label>Role: </label>
                <span>{{role}}</span>
            </div>
            <div>
                <label>Department: </label>
                <span>{{department}}</span>
            </div>
            <div>
                <label>Description: </label>
                <span>{{description}}</span>
            </div>

            <div class="reservations-section">
                <h1>My Reservations</h1>
                <table id="userReservations">
                    <thead>
                        <tr>
                            <th>Lab</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Seat ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each reservations}}
                        <tr>
                            <td>{{this.lab}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.time}}</td>
                            <td>{{this.seatId}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <center>
            <div class="button-grp">
                <button onclick="window.history.back();" class="button">Back to Search</button>

            </div>
        </center>
    </div>
    <script src="/js/files/main.js"></script>
</body>

</html>